.coin-image {
  height: 25%;
  width: 25%;
  margin-left: 85px;
  margin-right: 5px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dolar-price {
  margin-top: 0px;
  font-size: 120px;
  font-weight: bolder;
}

.value-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.coin-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16%;
}

.dolar-raise {
  display: flex;
  align-items: center;
  width: 80px;
}

.up-icon {
  height: 30px;
  width: 30px;
}

.dolar-raise-value {
  font-size: 30px;
  margin-left: 3px;
  margin-bottom: 3px;
}

.value-changed {
  font-size: 20px;
}

.time {
  width: 95px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  font-size: 24px;
}

body {
  font-family: "Bree Serif", serif;
  background-color: #5b9300;
  color: #f4ebde;
}

@media (max-width: 768px) {
  .dolar-price {
    font-size: 70px;
  }

  .value-changed {
    font-size: 15px;
  }

  .value-changed-container {
    text-align: center;
  }
}
